
html, body{
    font-family: 'Maven Pro', sans-serif;
    color: #353375;    
}
h1 , h2 {
    font-weight: bold;
    color: #353275;

}


.background {
    background: linear-gradient(90deg, #353275, #0495A0);
  }
/* -- Navbar --*/

.logoNavbar {
    max-width: 70px;
    margin-left: 20px;
}


/* -- Header --*/
.styleTexte {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.logoPrincipal {
    width: 650px;
}
/* -- Card --*/
.styleCard {
    background: linear-gradient(90deg, #353275, #0495A0);
    color: #FFBA4D;
    font-size: large;
    font-weight: bold;
    border: 3px solid  #FFBA4D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 260px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 7%;
    padding: 20px;
    
        
 
}
.ColCard{
   
    display: flex;
    justify-content: center;
    padding:15px;
    width:100%,

}

.rowCard{
  
    display: flex;
    justify-content: center;
    padding:75px;
    padding-top: 50px;
    width:100%,

}


#styleContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* -- OurViews --*/

.styleOurViews {

   background-color: white !important;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align:center ;

   

}




.cardIcon {
    max-width: 45%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    
}


/* -- Solution --*/

/* -- Service --*/

/* -- Expertise -- */

/* -- Contact -- */

/* -- Modal ? --*/

/* -- Vidéo ? -- */ 

/*
/*-- A garder? --*/ 