.styleTexte {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #0595A0;
    transform: translateX(-50%);
    transition: 1s;
    font-size: 1.5rem;
    font-weight: bold;
    transition-duration: 1s;
    border-radius: 25% 10%;
}

.styleTexte:hover {
    font-size: 1.7rem;
}

.styleImage {
    position: absolute;
    top: 1%;
    z-index: 2;
    height: 50%;
    width: 30%;
    transform: translateX(-50%);
    transition: 1s;

}

@media only screen and (max-width: 768px) {
    .styleTexte {
        position: absolute;
        top: 15%;
        left: 50%;
        color: #0595A0;
        transform: translateX(-50%);
        transition: 1s;
        font-size: 0.8rem;
        font-weight: bold;
        transition-duration: 1s;
        border-radius: 25% 10%;
    }
    
    .styleTexte:hover {
        font-size: 1rem;
    }

}
