.styleCarouselVideo {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
    .styleCarouselVideo {
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
