h1 {
    font-weight: bold;
    color: white;
}

.background {
    background: linear-gradient(90deg, #353275, #0495A0);
}

.text-primary {
    color: #353275;
}

.flexBox{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}